workflows/n8n/video_series_workflow.json
{
  "name": "AI Video Series Producer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "video-series/generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "video-series-generate"
    },
    {
      "parameters": {
        "jsCode": "// Build prompt from character bible\nconst input = $input.first().json;\n\n// Character bible lookup (simplified - in production, fetch from DB/file)\nconst characters = {\n  'protagonist': {\n    identity: '30-year-old woman with auburn shoulder-length hair, green eyes, athletic build',\n    outfit: 'wearing dark leather jacket over white t-shirt, dark jeans',\n    style: 'natural makeup, confident posture'\n  },\n  'mentor': {\n    identity: '55-year-old man with silver short-cropped hair, brown eyes, tall lean build',\n    outfit: 'wearing navy blue sweater and charcoal slacks, thin reading glasses',\n    style: 'distinguished, scholarly appearance'\n  }\n};\n\nconst locations = {\n  'office': 'modern office with large windows overlooking city skyline, minimalist desk, laptop',\n  'street': 'urban city street with mixed architecture, street cafes, pedestrians'\n};\n\n// Build the prompt\nconst character = characters[input.character_id] || characters['protagonist'];\nconst location = locations[input.location_id] || '';\n\nlet prompt = '';\nif (location) {\n  prompt += location + '. ';\n}\nprompt += character.identity + ', ' + character.outfit + '. ';\nprompt += input.action + '. ';\nprompt += 'cinematic lighting, professional color grading, 35mm film aesthetic';\n\n// Add continuation context if chaining\nif (input.chain_from_previous && input.previous_frame_url) {\n  prompt = 'Seamless continuation from previous scene. ' + prompt;\n}\n\nreturn {\n  json: {\n    ...input,\n    prompt: prompt,\n    negative_prompt: 'blurry, distorted, low quality, amateur, watermark',\n    character_data: character\n  }\n};"
      },
      "id": "build-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-reference",
              "leftValue": "={{ $json.reference_images }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-references",
      "name": "Has Reference Images?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/fal-ai/kling-video/v2.5/standard/image-to-video",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key {{ $credentials.httpHeaderAuth.value }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.prompt }}\",\n  \"image_url\": \"{{ $json.reference_images[0] }}\",\n  \"duration\": \"{{ $json.duration || '5' }}\",\n  \"aspect_ratio\": \"{{ $json.aspect_ratio || '16:9' }}\",\n  \"negative_prompt\": \"{{ $json.negative_prompt }}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "generate-with-reference",
      "name": "Generate with Reference (I2V)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fal-api-key",
          "name": "fal.ai API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/fal-ai/kling-video/v2.5/standard/text-to-video",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key {{ $credentials.httpHeaderAuth.value }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.prompt }}\",\n  \"duration\": \"{{ $json.duration || '5' }}\",\n  \"aspect_ratio\": \"{{ $json.aspect_ratio || '16:9' }}\",\n  \"negative_prompt\": \"{{ $json.negative_prompt }}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "generate-text-only",
      "name": "Generate Text-to-Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fal-api-key",
          "name": "fal.ai API Key"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "jsCode": "// Process the API response\nconst input = $input.first().json;\n\n// fal.ai returns video in response\nlet videoUrl = null;\nlet status = 'processing';\nlet jobId = null;\n\nif (input.video) {\n  // Direct response with video\n  videoUrl = typeof input.video === 'string' ? input.video : input.video.url;\n  status = 'completed';\n} else if (input.video_url) {\n  videoUrl = input.video_url;\n  status = 'completed';\n} else if (input.request_id) {\n  // Async response - need to poll\n  jobId = input.request_id;\n  status = 'processing';\n}\n\n// Get original request data from previous node\nconst originalRequest = $('Build Prompt').first().json;\n\nreturn {\n  json: {\n    job_id: jobId,\n    status: status,\n    video_url: videoUrl,\n    seed: input.seed,\n    \n    // Original request data for tracking\n    episode_id: originalRequest.episode_id,\n    scene_number: originalRequest.scene_number,\n    character_id: originalRequest.character_id,\n    prompt: originalRequest.prompt,\n    duration: originalRequest.duration,\n    \n    // Timestamps\n    generated_at: new Date().toISOString()\n  }\n};"
      },
      "id": "process-response",
      "name": "Process Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-status",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-completion",
      "name": "Generation Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1400, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.video_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-video",
      "name": "Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 200]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.episode_id }}_scene{{ $json.scene_number }}_{{ $now.format('yyyyMMdd_HHmmss') }}.mp4",
        "options": {}
      },
      "id": "save-video",
      "name": "Save Video File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [1800, 200]
    },
    {
      "parameters": {
        "jsCode": "// Store generation metadata\nconst input = $input.first().json;\n\n// In production, save to database\nconst metadata = {\n  scene_id: `${input.episode_id}_scene_${String(input.scene_number).padStart(3, '0')}`,\n  episode_id: input.episode_id,\n  scene_number: input.scene_number,\n  character_id: input.character_id,\n  prompt: input.prompt,\n  video_url: input.video_url,\n  video_path: $('Save Video File').first().json.fileName,\n  seed: input.seed,\n  duration: input.duration,\n  status: 'completed',\n  generated_at: input.generated_at,\n  provider: 'fal',\n  model: 'kling-2.5'\n};\n\n// Log metadata (in production, save to DB)\nconsole.log('Scene metadata:', JSON.stringify(metadata, null, 2));\n\nreturn {\n  json: {\n    success: true,\n    metadata: metadata,\n    message: `Scene ${metadata.scene_id} generated successfully`\n  }\n};"
      },
      "id": "store-metadata",
      "name": "Store Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2200, 200]
    },
    {
      "parameters": {
        "unit": "seconds",
        "value": 30
      },
      "id": "wait-for-processing",
      "name": "Wait for Processing",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1600, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://queue.fal.run/fal-ai/requests/{{ $json.job_id }}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "poll-status",
      "name": "Poll Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fal-api-key",
          "name": "fal.ai API Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'Generation failed or timeout', job_id: $json.job_id }) }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2000, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Has Reference Images?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Reference Images?": {
      "main": [
        [
          {
            "node": "Generate with Reference (I2V)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Text-to-Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate with Reference (I2V)": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Text-to-Video": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Process Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Response": {
      "main": [
        [
          {
            "node": "Generation Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generation Complete?": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Save Video File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Video File": {
      "main": [
        [
          {
            "node": "Store Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Metadata": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Processing": {
      "main": [
        [
          {
            "node": "Poll Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Status": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "id": "video-production",
      "name": "Video Production"
    },
    {
      "id": "ai-generation",
      "name": "AI Generation"
    }
  ],
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "ai-video-series-producer"
  }
}
